<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>


<body>
  {% comment %} <div class="xa"><h1 style="color:rgb(0, 0, 0);" id="two">Electric Bikes</h1> {% endcomment %}
    <div class="card-container">
      <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/activa-6g.webp" alt="Card image cap" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Honda Activa 6G</h5>
            <p class="card-text"></p>
            <a href="{% url "activabike" %}" class="btn btn-primary">view more</a>
          </div>
        </div> 
  
        <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/avenges 160.jpg" alt="Card image cap" style="height: 160px;">
          <div class="card-body">
            <h5 class="card-title">Avenger 160</h5>
            <p class="card-text"></p>
            <a href="{% url "avengerbike" %}" class="btn btn-primary">view more</a>
          </div>
        </div> 
  
        <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/Honda-Dio-8.jpg" alt="Card image cap" style="height: 160px;">
          <div class="card-body">
            <h5 class="card-title">Honda Dio 110</h5>
            <p class="card-text"></p>
            <a href="{% url "diobike" %}" class="btn btn-primary">view more</a>
          </div>
        </div>
  
        {% comment %} <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/Ultraviolette-F77.jpg" alt="Card image cap" style="height: 160px;">
          <div class="card-body">
            <h5 class="card-title">Ultraviolet</h5>
            <p class="card-text"></p>
            <a href="" class="btn btn-primary">view more</a>
          </div>
        </div>
  </div> {% endcomment %}
</div>  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
</body>
</html>