<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
</head>
<body>
  <div class="sport"><h1 style="color: azure;">Trending Bikes</h1>
    <div class="card-container">
      <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/hunter.webp" alt="Card image cap" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Royal Enfield Hunter 350</h5>
            <p class="card-text"></p>
            <a href="{% url "royalbike" %}" class="btn btn-primary">view more</a>
          </div>
        </div> 
  
        <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/shine.png" alt="Card image cap" style="height: 160px;">
          <div class="card-body">
            <h5 class="card-title">Honda Shine</h5>
            <p class="card-text"></p>
            <a href="{% url "shinebike" %}" class="btn btn-primary">view more</a>
          </div>
        </div> 
  
        <div class="card" style="width: 18rem; height: 350px;">
          <img class="card-img-top" src="static/images/unicorn.jpg" alt="Card image cap" style="height: 160px;">
          <div class="card-body">
            <h5 class="card-title">Unicorn</h5>
            <p class="card-text"></p>
            <a href="{% url "unicornbike" %}" class="btn btn-primary">view more</a>
          </div>
        </div>
        

       
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
  
  
    
</body>
</html>